<launch>

  <!-- Start Simulation -->
  <include file="$(find simulation)/launch/simulation.launch" />

  <!-- Delay a bit, wait for sim to run -->
  <!--node pkg="roslaunch" type="roslaunch" name="delay_node" output="screen" launch-prefix="bash -c 'sleep 10'" /-->

  <!-- Start Pointcloud publishing -->
  <include file="$(find depth_to_pointcloud)/launch/depth_to_pcl.launch" />

  <!-- Start Octomap processing -->
  <include file="$(find pointcloud_to_octomap)/launch/pointcloud_to_octomap.launch" />

  <!-- Start trajectory planner -->
  <include file="$(find basic_waypoint_pkg)/launch/waypoint_mission.launch" />

  <!-- Start Frontier Detector -->
  <node pkg="frontier_detector" type="frontier_detector.py" name="frontier_detector" output="screen" />

  <!-- Start D* Star Explorer -->
  <node pkg="dstar_explorer" type="dstar_explorer.py" name="dstar_explorer" output="screen" />

  <!-- Start RViz with our configuration -->
  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find main_launch)/rviz/uav.rviz" />

</launch>

