<launch>

  <!-- Start sim -->
  <include file="$(find simulation)/launch/simulation.launch" />
  
  <!-- Start Pointcloud publishing -->
  <include file="$(find depth_to_pointcloud)/launch/depth_to_pcl.launch" />

  <!-- Start Octomap processing -->
  <include file="$(find pointcloud_to_octomap)/launch/pointcloud_to_octomap.launch" />

  <!-- Start trajectory planner -->
  <include file="$(find basic_waypoint_pkg)/launch/waypoint_mission.launch" />

  <!-- Start drone frontier exploration  -->
  <include file="$(find drone_frontier_exploration)/launch/drone_frontier_exploration.launch" />
  
  <!-- Start RViz with our configuration -->
  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find main_launch)/rviz/uav.rviz" />

  <!-- Run semantic_image_processor -->
  <node pkg="semantic_image_processor" type="semantic_image_processor.py" name="semantic_image_processor" output="screen" />
  
</launch>
